@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;700&family=Pacifico&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    color: #292929;
}
p {
    line-height: 150%;
}
.wrapper {
    width: 1370px;
    margin: 0 auto;
}
.header {
    height: 85px;
    border-bottom: 1px solid #D6D6D6;
}
.first__logotype {
    margin-top: 31px;

    margin-left: 30px;
}
.first__logotype,
.first__nav {
    float: left;
}
.first__nav {
    margin-top: 37px;
    margin-left: -130px;  
}
.first__nav {
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 16px;
   text-align: Center;

}

.first__login {
    float: right;
    margin-top: 17px;
    margin-right: 45px;
}
.first__login a {
    margin-top: 13px;
    display: inline-block;
    margin-right: 55px;
    text-decoration: none;
}
.first__login {
    Font: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
   text-align:Center;
}
.first__login .button {
    margin-top: 0;
    color: #fff;
    margin-right: 0;
}
.first__logotype {
    margin-right: 170px;

}
.first__nav ul {
    list-style: none;
}
.first__nav ul li {
    display: inline-block;
    margin-right: 10px;
}
.first__nav ul li:last-of-type {
    margin-right: 0;
}
.link {
    color: #1a05b5;
    text-decoration: none;
    transition: all .2s;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
}
.link:hover {
    border-bottom: 1px solid #292929;
}
.link:active {
    color: #404040;
    border-bottom: 1px solid #404040;
}
.button {
    background-color: blue;
    padding: 13px 50px;
    border-radius: 110px;
    color: #fff;
    transition: background-color .2s;
    display: inline-block;
    text-decoration: none;

}
.button_big {
    padding: 20px 50px;
}
.button:hover {
    background-color: blue;
    
}
.button:active {
    background-color: #0c5bca;
    
}
.first__mobile {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #040062;
    display: none;
}
@media (max-width: 1024px) {
    .wrapper {
        width: 768px;
    }
    .header {
        height: 128px;
    }
    .first__nav {
        margin-top: 17px;
        width: 100%;
    }
    .first__nav ul li {
        margin-right: 15px;
    }
}
@media (max-width: 320px) {
    .wrapper {
        width: 290px;
    }
    .header {
        height: 357px;
    }
    .first__logotype,
    .first__nav,
    .first__login {
        width: 100%;
        float: none;
        text-align: center;
    }
    .first__login .link,
    .first__nav {
        display: none;
    }
    .first__mobile {
        display: block;
        margin-top: 24px;
        margin-left: 4px;
    }
    .first__mobile ul {
        list-style: none;
    }
    .first__login .button {
        margin-top: 50px;
       
    }
    .first__mobile ul li {
        margin-bottom: 10px;
        margin-right: 10px;
        
    }
    .first__mobile ul li:last-of-type {
        margin-bottom: 0;
    }
}
.background{
    background-image: url('Image/Rectangle.png');
    width: 1296px;
    height: 647px;
    position: relative;
    Top:0px;
    Left: 380px;
    bottom: 1000px;
}

.xel1 { 
position: absolute;
width: 335px;
height: 385px;
left: 42px;
bottom: 0px;
}
.xel2 {
 position: absolute;
width: 341px;
height: 374px;
left: 900px;
bottom: 0px;
}
.xel3 {
position: absolute;
top: 500px ;
right: 400px;
}
.text {
    padding: 80px;   
    font-family: 'Abril Fatface', cursive;
  text-align: center;
  
  color: #040062;
    
}

.h1 {
    font-size: 60px;
    font-weight: 400;
}

.h2 {
    font-size: 80px;
    font-weight: 400;
}
.h3 {
    font-weight: 400;
    font-size: 110px;
    
}


.FON {
    position: absolute;
    height: 648px;
    width: 648px;
    left: 18.45%;
    right: 50%;
    top: 841px;
}
.phone {
   position: absolute;
   height: 508px;
   left: 27.03%;
   right: 60.78%;
   top: 911px;
}
.real1 {
    position: absolute;
    height: 120px;
    left: 55.21%;
    right: 21.41%;
    top: 1011px;
}
.real1 {
 font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #040062;
}
.real2 {
    position: absolute;
    height: 81px;
    left: 55.21%;
   right: 19.38%;
    top: 1163px;
}

.real2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #6D758D;
}



.fonc {
    position: absolute;
height: 648px;
left: 50%;
right: 15.55%;
top: 1489px;
}
.phone2 {
    position: absolute;
height: 508px;
left: 60.78%;
right: 27.03%;
top: 1559px;
border-radius: 37px;
}

.barsa1 {
    position: absolute;
    height: 120px;
    left: 19.38%;
    right: 65.26%;
    top: 1659px;
}
.barsa1 {
font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #040062;
}
.barsa2 {
    position: absolute;
height: 81px;
left: 19.38%;
right: 54.43%;
top: 1811px;
}
.barsa2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #6D758D;
}



.sport {
    position: absolute;
    height: 648px;
    left: 18.25%;
    right: 50%;
    top: 2137px;
}
.phone3 {
    position: absolute;
    height: 508px;
    left: 27.03%;
    right: 60.78%;
    top: 2207px
}
.people {
    position: absolute;
    width: 440px;
    height: 476px;
    left: 630px;
    top: 2309px;
}
.inter1 {
    position: absolute;
height: 120px;
left: 55.21%;
right: 19.69%;
top: 2307px;
}
.inter1 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #040062;
    
}
.inter2 {
    position: absolute;
height: 135px;
left: 55.21%;
right: 22.55%;
top: 2459px;
}

.inter2  {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;  
    color: #6D758D;
}




.cake {
    position: absolute;
height: 648px;
left: 50%;
right: 16.25%;
top: 2785px;
}

.phone4 {
 position: absolute;
height: 508px;
left: 60.78%;
right: 27.03%;
top: 2855px;
border-radius: 37px;
}

.people2 {
    position: absolute;
width: 315px;
height: 391px;
left: 851px;
top: 3042px;
}

.milan1 {
    position: absolute;
height: 60px;
left: 19.38%;
right: 57.76%;
top: 2955px;
}
.milan1 {
font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #040062;
}
.milan2 {
    position: absolute;
height: 81px;
left: 19.38%;
right: 55%;
top: 3047px;
}

.milan2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #6D758D;
}



.kuka {
    position: absolute;
    height: 648px;
    left: 18.25%;
    right: 50%;
    top: 3433px;
}
.people3 {
    position: absolute;
width: 331px;
height: 339px;
left: 786px;
top: 3742px;
}
.phone5 {
    position: absolute  ;
height: 508px;
left: 27.03%;
right: 60.78%;
top: 3503px;
border-radius: 37px;
} 
.city1 {
    position: absolute;
height: 120px;
left: 55.21%;
right: 21.88%;
top: 3603px;
}
.city1 {
 font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #040062;
}
.city2 {
    position: absolute;
height: 108px;
left: 55.21%;
right: 19.43%;
top: 3755px;
}
.city2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #6D758D;
}



.Logotype2,
.van {
    float: left;
}
.van {
    margin-top: 37px;
    margin-left: -130px;  
    font-family: 'Ubuntu';
   font-style: normal;
    font-weight: 400;
    font-size: 22px;
   line-height: 25px;
   color: #040062; 
}

.background3 {
    background-color: #fff;
    position: absolute;
    height: 290px;
    left: 0%;
    right: 0%;
    top: 4181px;
    box-sizing: border-box;
    border-top: 1px solid #a6abb6;
}
.Logotype2 {
    position: absolute;
left: 16.25%;
right: 79.43%;
Top: 4261px;
bottom: 4.18%;
}

.awp {
    width: 93px;
    height: 25px    ;
    position: absolute;
    top: 4261px;
    left: 575px;
    right: 1257px;
}

.awt {
    width: 93px;
    height: 25px    ;
    position: absolute;
    top: 4261px;
    left: 788px;
    right: 1051px;
}
.awk {
    width: 93px;
    height: 25px    ;
    position: absolute;
    top: 4261px;
    left: 989px;
    right: 85px;
}
.lonk {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 18px;
text-align: center;
text-decoration: none;
color: #040062;
}

.Istagramm {
    position: absolute;
    left: 1458px;
    top: 4261px;
}
.Facebook {
    position: absolute;
    left: 1504px;
    top: 4261px;
}
.Twiter {
    position: absolute;
    left: 1541px;
    top: 4261px;
}
.In {
    position: absolute;
    left: 1584px;
    top: 4261px;
}
.over {
    width: 166px;
    height: 68px;
    position: absolute;
height: 16px;
left: 1442px;
top: 4302px;
}
.over {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #6D758D;
} 
.ninja {
    Width: 650px;
    Height: 95px;
}
.ninja {
    position: absolute;
    height: 18px;
    left: 29.95%;
    top: 4301px;
    text-decoration: none;
    color: #6D758D;
    text-align: left;
}

.lenk {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #6D758D;
    text-decoration: none;
}
.ninja ul {
    list-style: none;
    display: inline-block;
    text-decoration: none;

}
.ninja ul li {
    display: inline-block;
    padding-right: 120px;
    margin-top: 10px ;
    text-decoration: none;
}

